<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message History(Group/Individuals)</title>
    <link rel="stylesheet" href="/asset/styling/index.css">
    <link rel="stylesheet" href="/asset/styling/media.css">
  </head>
  <body>
    <div class="right-heading">
      <div class="right-items-header">
        <div class="individual-logo"><img src="" alt="" /></div>
        <div class="right-items-heading">Individual Name</div>
        <div class="video-call">
          <img id="video-call" src="/asset/icon/video.png" alt="" />
          <img id="dropdown" src="/asset/icon/drop-down.png" alt="" />
        </div>
        <div class="right-items-searchbar">
          <input
            type="text"
            placeholder="Search chats.."
            style="display: none"
          />
          <img id="right-icon" src="/asset/icon/search.png" alt="" srcset="" />
        </div>
        <div class="three-dot">
          <img src="/asset/icon/three-dot.png" alt="" />
        </div>
      </div>

      <div class="message-container">
        <div class="message-textfield">
          <img id="add" src="/asset/icon/add.png" alt="" srcset="" />
          <img id="gif" src="/asset/icon/gif-file.png" alt="" />
          <input type="text" placeholder="Enter Text .." />
        </div>
      </div>
    </div>
  </body>
</html>
